{% extends "partials/base.html" %}

{% block header %}{# intentionally empty #}{% endblock %}

{% block styles %}
<style>
html, body {
  margin: 0;
  padding: 0;
  color: #212121;
  font: 400 16px/24px "Roboto",sans-serif;
  -webkit-font-smoothing: antialiased;
}
.snippet {
  color: inherit;
}
.search-result-status {
  padding: 0 8px;
}
#search-section {
  margin: 0;
}
#filters {
  border-bottom: 1px solid #ebebeb;
}
</style>
{% endblock %}

{% block script %}
<script>
  window.CLIENT_ID = 'devsite';
</script>
{% endblock %}

{% block footer %}{# intentionally empty #}{% endblock %}
